* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url(jgoerugd_y4-john-towner.jpg);
  background-size: cover;
}
p {
  color: rgb(83, 116, 166);
  font-size: 24px;
  text-align: center;
}
a {
  color: rgb(83, 116, 166);
}

a:hover {
  color: rgb(254, 254, 254);
}

@media (max-width: 700px) {

  body {
    width: 100%;
    margin: 0;
  }

  .content {
    width: 100%;
  }

  .content img {
    width: 100%;
  }

  .sidebar {
    width: 100%;

  }
}

@media (max-width: 500px) {
  .main {
    width: 100%;
  }
}
